In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

In [ ]:
def get_iris_data():
    '''Get Iris Data from Scikit-Learn Toy Datasets
    and store it in a Pandas DataFrame'''
    
    iris = load_iris()
    df = pd.DataFrame(iris['data'],columns=iris['feature_names'])
    df['class'] = iris['target']
    return df


def get_data_summary(df):
    '''Generate important summary information of a given
    Pandas DataFrame'''
    
    print("========== Summary Info ==========")
    display(df.info())
    print("\n========== Class Proportion ==========\n")
    display(df['class'].value_counts(True))
    print("\n=======================================")
    display(df)

In [ ]:
df = get_iris_data()

In [ ]:
get_data_summary(df)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   class              150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# Random vs Stratified Split

In [ ]:
from sklearn.model_selection import train_test_split

## Random Split

In [ ]:
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0) 

df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

In [ ]:
get_data_summary(df_train)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.366667
0    0.325000
1    0.308333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

In [ ]:
get_data_summary(df_val)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 121 to 73
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  15 non-null     float64
 1   sepal width (cm)   15 non-null     float64
 2   petal length (cm)  15 non-null     float64
 3   petal width (cm)   15 non-null     float64
 4   class              15 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 720.0 bytes

None

========== Class Proportion ==========

0    0.466667
1    0.333333
2    0.200000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
121,5.6,2.8,4.9,2.0,2
62,6.0,2.2,4.0,1.0,1
26,5.0,3.4,1.6,0.4,0
40,5.0,3.5,1.3,0.3,0
7,5.0,3.4,1.5,0.2,0
45,4.8,3.0,1.4,0.3,0
16,5.4,3.9,1.3,0.4,0
71,6.1,2.8,4.0,1.3,1
86,6.7,3.1,4.7,1.5,1
22,4.6,3.6,1.0,0.2,0
107,7.3,2.9,6.3,1.8,2
114,5.8,2.8,5.1,2.4,2
66,5.6,3.0,4.5,1.5,1
37,4.9,3.6,1.4,0.1,0
73,6.1,2.8,4.7,1.2,1

In [ ]:
get_data_summary(df_test)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 33 to 8
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  15 non-null     float64
 1   sepal width (cm)   15 non-null     float64
 2   petal length (cm)  15 non-null     float64
 3   petal width (cm)   15 non-null     float64
 4   class              15 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 720.0 bytes

None

========== Class Proportion ==========

1    0.533333
0    0.266667
2    0.200000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
33,5.5,4.2,1.4,0.2,0
93,5.0,2.3,3.3,1.0,1
54,6.5,2.8,4.6,1.5,1
134,6.1,2.6,5.6,1.4,2
44,5.1,3.8,1.9,0.4,0
126,6.2,2.8,4.8,1.8,2
97,6.2,2.9,4.3,1.3,1
51,6.4,3.2,4.5,1.5,1
90,5.5,2.6,4.4,1.2,1
24,4.8,3.4,1.9,0.2,0
100,6.3,3.3,6.0,2.5,2
78,6.0,2.9,4.5,1.5,1
76,6.8,2.8,4.8,1.4,1
63,6.1,2.9,4.7,1.4,1
8,4.4,2.9,1.4,0.2,0

## Stratified Split

In [ ]:
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0, stratify=df['class']) 

df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['class'])

In [ ]:
get_data_summary(df_train)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

In [ ]:
get_data_summary(df_val)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 67 to 44
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  15 non-null     float64
 1   sepal width (cm)   15 non-null     float64
 2   petal length (cm)  15 non-null     float64
 3   petal width (cm)   15 non-null     float64
 4   class              15 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 720.0 bytes

None

========== Class Proportion ==========

1    0.333333
2    0.333333
0    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
67,5.8,2.7,4.1,1.0,1
113,5.7,2.5,5.0,2.0,2
81,5.5,2.4,3.7,1.0,1
136,6.3,3.4,5.6,2.4,2
90,5.5,2.6,4.4,1.2,1
0,5.1,3.5,1.4,0.2,0
99,5.7,2.8,4.1,1.3,1
139,6.9,3.1,5.4,2.1,2
3,4.6,3.1,1.5,0.2,0
129,7.2,3.0,5.8,1.6,2
88,5.6,3.0,4.1,1.3,1
142,5.8,2.7,5.1,1.9,2
39,5.1,3.4,1.5,0.2,0
9,4.9,3.1,1.5,0.1,0
44,5.1,3.8,1.9,0.4,0

In [ ]:
get_data_summary(df_test)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 100 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  15 non-null     float64
 1   sepal width (cm)   15 non-null     float64
 2   petal length (cm)  15 non-null     float64
 3   petal width (cm)   15 non-null     float64
 4   class              15 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 720.0 bytes

None

========== Class Proportion ==========

2    0.333333
1    0.333333
0    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
100,6.3,3.3,6.0,2.5,2
134,6.1,2.6,5.6,1.4,2
147,6.5,3.0,5.2,2.0,2
86,6.7,3.1,4.7,1.5,1
47,4.6,3.2,1.4,0.2,0
50,7.0,3.2,4.7,1.4,1
55,5.7,2.8,4.5,1.3,1
36,5.5,3.5,1.3,0.2,0
65,6.7,3.1,4.4,1.4,1
46,5.1,3.8,1.6,0.2,0
103,6.3,2.9,5.6,1.8,2
121,5.6,2.8,4.9,2.0,2
54,6.5,2.8,4.6,1.5,1
21,5.1,3.7,1.5,0.4,0
19,5.1,3.8,1.5,0.3,0

# K-Folds Cross Validation

## Random Split

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0)

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.366667
0    0.325000
1    0.308333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

In [ ]:
kf = KFold(n_splits=4) 

iter_num = 1
for train_index, val_index in kf.split(df_cv): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 85 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.377778
2    0.322222
1    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
85,6.0,3.4,4.5,1.6,1
30,4.8,3.1,1.6,0.2,0
101,5.8,2.7,5.1,1.9,2
94,5.6,2.7,4.2,1.3,1
64,5.6,2.9,3.6,1.3,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 137 to 147
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.500000
1    0.333333
0    0.166667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
83,6.0,2.7,5.1,1.6,1
61,5.9,3.0,4.2,1.5,1
92,5.8,2.6,4.0,1.2,1
112,6.8,3.0,5.5,2.1,2
2,4.7,3.2,1.3,0.2,0
141,6.9,3.1,5.1,2.3,2
43,5.0,3.5,1.6,0.6,0
10,5.4,3.7,1.5,0.2,0
60,5.0,2.0,3.5,1.0,1
116,6.5,3.0,5.5,1.8,2
144,6.7,3.3,5.7,2.5,2
119,6.0,2.2,5.0,1.5,2
108,6.7,2.5,5.8,1.8,2
69,5.6,2.5,3.9,1.1,1
135,7.7,3.0,6.1,2.3,2
56,6.3,3.3,4.7,1.6,1
80,5.5,2.4,3.8,1.1,1
123,6.3,2.7,4.9,1.8,2
133,6.3,2.8,5.1,1.5,2
106,4.9,2.5,4.5,1.7,2
146,6.3,2.5,5.0,1.9,2
50,7.0,3.2,4.7,1.4,1
147,6.5,3.0,5.2,2.0,2

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.377778
0    0.322222
1    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 85 to 110
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.333333
0    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
85,6.0,3.4,4.5,1.6,1
30,4.8,3.1,1.6,0.2,0
101,5.8,2.7,5.1,1.9,2
94,5.6,2.7,4.2,1.3,1
64,5.6,2.9,3.6,1.3,1
89,5.5,2.5,4.0,1.3,1
91,6.1,3.0,4.6,1.4,1
125,7.2,3.2,6.0,1.8,2
48,5.3,3.7,1.5,0.2,0
13,4.3,3.0,1.1,0.1,0
111,6.4,2.7,5.3,1.9,2
95,5.7,3.0,4.2,1.2,1
20,5.4,3.4,1.7,0.2,0
15,5.7,4.4,1.5,0.4,0
52,6.9,3.1,4.9,1.5,1
3,4.6,3.1,1.5,0.2,0
149,5.9,3.0,5.1,1.8,2
98,5.1,2.5,3.0,1.1,1
6,4.6,3.4,1.4,0.3,0
68,6.2,2.2,4.5,1.5,1
109,7.2,3.6,6.1,2.5,2
96,5.7,2.9,4.2,1.3,1
12,4.8,3.0,1.4,0.1,0
102,7.1,3.0,5.9,2.1,2
120,6.9,3.2,5.7,2.3,2
104,6.5,3.0,5.8,2.2,2
128,6.4,2.8,5.6,2.1,2
46,5.1,3.8,1.6,0.2,0
11,4.8,3.4,1.6,0.2,0
110,6.5,3.2,5.1,2.0,2

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.377778
1    0.344444
0    0.277778
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 124 to 138
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.466667
2    0.333333
1    0.200000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
124,6.7,3.3,5.7,2.1,2
41,4.5,2.3,1.3,0.3,0
148,6.2,3.4,5.4,2.3,2
1,4.9,3.0,1.4,0.2,0
113,5.7,2.5,5.0,2.0,2
139,6.9,3.1,5.4,2.1,2
42,4.4,3.2,1.3,0.2,0
4,5.0,3.6,1.4,0.2,0
129,7.2,3.0,5.8,1.6,2
17,5.1,3.5,1.4,0.3,0
38,4.4,3.0,1.3,0.2,0
5,5.4,3.9,1.7,0.4,0
53,5.5,2.3,4.0,1.3,1
143,6.8,3.2,5.9,2.3,2
105,7.6,3.0,6.6,2.1,2
0,5.1,3.5,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
55,5.7,2.8,4.5,1.3,1
75,6.6,3.0,4.4,1.4,1
35,5.0,3.2,1.2,0.2,0
23,5.1,3.3,1.7,0.5,0
74,6.4,2.9,4.3,1.3,1
31,5.4,3.4,1.5,0.4,0
118,7.7,2.6,6.9,2.3,2
57,4.9,2.4,3.3,1.0,1
131,7.9,3.8,6.4,2.0,2
65,6.7,3.1,4.4,1.4,1
32,5.2,4.1,1.5,0.1,0
138,6.0,3.0,4.8,1.8,2

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 138
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.388889
0    0.322222
1    0.288889
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
57,4.9,2.4,3.3,1.0,1
131,7.9,3.8,6.4,2.0,2
65,6.7,3.1,4.4,1.4,1
32,5.2,4.1,1.5,0.1,0
138,6.0,3.0,4.8,1.8,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 14 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.366667
0    0.333333
2    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
14,5.8,4.0,1.2,0.2,0
122,7.7,2.8,6.7,2.0,2
19,5.1,3.8,1.5,0.3,0
29,4.7,3.2,1.6,0.2,0
130,7.4,2.8,6.1,1.9,2
49,5.0,3.3,1.4,0.2,0
136,6.3,3.4,5.6,2.4,2
99,5.7,2.8,4.1,1.3,1
82,5.8,2.7,3.9,1.2,1
79,5.7,2.6,3.5,1.0,1
115,6.4,3.2,5.3,2.3,2
145,6.7,3.0,5.2,2.3,2
72,6.3,2.5,4.9,1.5,1
77,6.7,3.0,5.0,1.7,1
25,5.0,3.0,1.6,0.2,0
81,5.5,2.4,3.7,1.0,1
140,6.7,3.1,5.6,2.4,2
142,5.8,2.7,5.1,1.9,2
39,5.1,3.4,1.5,0.2,0
58,6.6,2.9,4.6,1.3,1
88,5.6,3.0,4.1,1.3,1
70,5.9,3.2,4.8,1.8,1
87,6.3,2.3,4.4,1.3,1
36,5.5,3.5,1.3,0.2,0
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

## Stratified Split

In [ ]:
from sklearn.model_selection import StratifiedKFold

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0, stratify=df['class'])

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

In [ ]:
skf = StratifiedKFold(n_splits=4) 

iter_num = 1
for train_index, val_index in skf.split(df_cv,df_cv['class']): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 26 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
26,5.0,3.4,1.6,0.4,0
125,7.2,3.2,6.0,1.8,2
31,5.4,3.4,1.5,0.4,0
110,6.5,3.2,5.1,2.0,2
126,6.2,2.8,4.8,1.8,2
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 45 to 91
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
108,6.7,2.5,5.8,1.8,2
124,6.7,3.3,5.7,2.1,2
72,6.3,2.5,4.9,1.5,1
127,6.1,3.0,4.9,1.8,2
149,5.9,3.0,5.1,1.8,2
94,5.6,2.7,4.2,1.3,1
5,5.4,3.9,1.7,0.4,0
57,4.9,2.4,3.3,1.0,1
118,7.7,2.6,6.9,2.3,2
141,6.9,3.1,5.1,2.3,2
32,5.2,4.1,1.5,0.1,0
96,5.7,2.9,4.2,1.3,1
56,6.3,3.3,4.7,1.6,1
28,5.2,3.4,1.4,0.2,0
104,6.5,3.0,5.8,2.2,2
22,4.6,3.6,1.0,0.2,0
27,5.2,3.5,1.5,0.2,0
140,6.7,3.1,5.6,2.4,2
112,6.8,3.0,5.5,2.1,2
98,5.1,2.5,3.0,1.1,1
69,5.6,2.5,3.9,1.1,1
114,5.8,2.8,5.1,2.4,2
83,6.0,2.7,5.1,1.6,1
91,6.1,3.0,4.6,1.4,1

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 26 to 33
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
26,5.0,3.4,1.6,0.4,0
125,7.2,3.2,6.0,1.8,2
31,5.4,3.4,1.5,0.4,0
110,6.5,3.2,5.1,2.0,2
126,6.2,2.8,4.8,1.8,2
89,5.5,2.5,4.0,1.3,1
122,7.7,2.8,6.7,2.0,2
79,5.7,2.6,3.5,1.0,1
132,6.4,2.8,5.6,2.2,2
78,6.0,2.9,4.5,1.5,1
87,6.3,2.3,4.4,1.3,1
73,6.1,2.8,4.7,1.2,1
4,5.0,3.6,1.4,0.2,0
23,5.1,3.3,1.7,0.5,0
62,6.0,2.2,4.0,1.0,1
75,6.6,3.0,4.4,1.4,1
115,6.4,3.2,5.3,2.3,2
120,6.9,3.2,5.7,2.3,2
59,5.2,2.7,3.9,1.4,1
16,5.4,3.9,1.3,0.4,0
146,6.3,2.5,5.0,1.9,2
102,7.1,3.0,5.9,2.1,2
8,4.4,2.9,1.4,0.2,0
10,5.4,3.7,1.5,0.2,0
74,6.4,2.9,4.3,1.3,1
95,5.7,3.0,4.2,1.2,1
13,4.3,3.0,1.1,0.1,0
24,4.8,3.4,1.9,0.2,0
135,7.7,3.0,6.1,2.3,2
33,5.5,4.2,1.4,0.2,0

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 97 to 20
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.333333
0    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
97,6.2,2.9,4.3,1.3,1
15,5.7,4.4,1.5,0.4,0
61,5.9,3.0,4.2,1.5,1
77,6.7,3.0,5.0,1.7,1
105,7.6,3.0,6.6,2.1,2
66,5.6,3.0,4.5,1.5,1
119,6.0,2.2,5.0,1.5,2
12,4.8,3.0,1.4,0.1,0
41,4.5,2.3,1.3,0.3,0
137,6.4,3.1,5.5,1.8,2
51,6.4,3.2,4.5,1.5,1
63,6.1,2.9,4.7,1.4,1
11,4.8,3.4,1.6,0.2,0
6,4.6,3.4,1.4,0.3,0
111,6.4,2.7,5.3,1.9,2
93,5.0,2.3,3.3,1.0,1
144,6.7,3.3,5.7,2.5,2
48,5.3,3.7,1.5,0.2,0
80,5.5,2.4,3.8,1.1,1
109,7.2,3.6,6.1,2.5,2
101,5.8,2.7,5.1,1.9,2
53,5.5,2.3,4.0,1.3,1
123,6.3,2.7,4.9,1.8,2
17,5.1,3.5,1.4,0.3,0
71,6.1,2.8,4.0,1.3,1
40,5.0,3.5,1.3,0.3,0
49,5.0,3.3,1.4,0.2,0
148,6.2,3.4,5.4,2.3,2
133,6.3,2.8,5.1,1.5,2
20,5.4,3.4,1.7,0.2,0

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 20
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
40,5.0,3.5,1.3,0.3,0
49,5.0,3.3,1.4,0.2,0
148,6.2,3.4,5.4,2.3,2
133,6.3,2.8,5.1,1.5,2
20,5.4,3.4,1.7,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 76 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.333333
2    0.333333
0    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
76,6.8,2.8,4.8,1.4,1
107,7.3,2.9,6.3,1.8,2
30,4.8,3.1,1.6,0.2,0
25,5.0,3.0,1.6,0.2,0
42,4.4,3.2,1.3,0.2,0
14,5.8,4.0,1.2,0.2,0
58,6.6,2.9,4.6,1.3,1
68,6.2,2.2,4.5,1.5,1
85,6.0,3.4,4.5,1.6,1
143,6.8,3.2,5.9,2.3,2
35,5.0,3.2,1.2,0.2,0
131,7.9,3.8,6.4,2.0,2
2,4.7,3.2,1.3,0.2,0
116,6.5,3.0,5.5,1.8,2
18,5.7,3.8,1.7,0.3,0
92,5.8,2.6,4.0,1.2,1
60,5.0,2.0,3.5,1.0,1
84,5.4,3.0,4.5,1.5,1
70,5.9,3.2,4.8,1.8,1
43,5.0,3.5,1.6,0.6,0
130,7.4,2.8,6.1,1.9,2
138,6.0,3.0,4.8,1.8,2
29,4.7,3.2,1.6,0.2,0
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

# Repeated K-Folds Cross-Validation

## Random Split

In [ ]:
from sklearn.model_selection import RepeatedKFold

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0)

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.366667
0    0.325000
1    0.308333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

In [ ]:
rkf = RepeatedKFold(n_splits=4, n_repeats=3, random_state=0)

iter_num = 1
for train_index, val_index in rkf.split(df_cv): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.355556
1    0.322222
0    0.322222
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 27 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.400000
0    0.333333
1    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
27,5.2,3.5,1.5,0.2,0
83,6.0,2.7,5.1,1.6,1
61,5.9,3.0,4.2,1.5,1
112,6.8,3.0,5.5,2.1,2
43,5.0,3.5,1.6,0.6,0
116,6.5,3.0,5.5,1.8,2
56,6.3,3.3,4.7,1.6,1
123,6.3,2.7,4.9,1.8,2
106,4.9,2.5,4.5,1.7,2
85,6.0,3.4,4.5,1.6,1
94,5.6,2.7,4.2,1.3,1
15,5.7,4.4,1.5,0.4,0
3,4.6,3.1,1.5,0.2,0
6,4.6,3.4,1.4,0.3,0
109,7.2,3.6,6.1,2.5,2
120,6.9,3.2,5.7,2.3,2
110,6.5,3.2,5.1,2.0,2
124,6.7,3.3,5.7,2.1,2
1,4.9,3.0,1.4,0.2,0
129,7.2,3.0,5.8,1.6,2
105,7.6,3.0,6.6,2.1,2
34,4.9,3.1,1.5,0.2,0
138,6.0,3.0,4.8,1.8,2
29,4.7,3.2,1.6,0.2,0
130,7.4,2.8,6.1,1.9,2
49,5.0,3.3,1.4,0.2,0
99,5.7,2.8,4.1,1.3,1
88,5.6,3.0,4.1,1.3,1
70,5.9,3.2,4.8,1.8,1
47,4.6,3.2,1.4,0.2,0

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

1    0.344444
2    0.333333
0    0.322222
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
27,5.2,3.5,1.5,0.2,0
59,5.2,2.7,3.9,1.4,1
83,6.0,2.7,5.1,1.6,1
61,5.9,3.0,4.2,1.5,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 84 to 36
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.466667
0    0.333333
1    0.200000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
18,5.7,3.8,1.7,0.3,0
2,4.7,3.2,1.3,0.2,0
60,5.0,2.0,3.5,1.0,1
144,6.7,3.3,5.7,2.5,2
119,6.0,2.2,5.0,1.5,2
146,6.3,2.5,5.0,1.9,2
95,5.7,3.0,4.2,1.2,1
20,5.4,3.4,1.7,0.2,0
96,5.7,2.9,4.2,1.3,1
128,6.4,2.8,5.6,2.1,2
41,4.5,2.3,1.3,0.3,0
148,6.2,3.4,5.4,2.3,2
42,4.4,3.2,1.3,0.2,0
5,5.4,3.9,1.7,0.4,0
143,6.8,3.2,5.9,2.3,2
0,5.1,3.5,1.4,0.2,0
118,7.7,2.6,6.9,2.3,2
131,7.9,3.8,6.4,2.0,2
14,5.8,4.0,1.2,0.2,0
122,7.7,2.8,6.7,2.0,2
136,6.3,3.4,5.6,2.4,2
82,5.8,2.7,3.9,1.2,1
79,5.7,2.6,3.5,1.0,1
115,6.4,3.2,5.3,2.3,2
25,5.0,3.0,1.6,0.2,0
142,5.8,2.7,5.1,1.9,2
36,5.5,3.5,1.3,0.2,0

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.377778
0    0.344444
1    0.277778
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
87,6.3,2.3,4.4,1.3,1
36,5.5,3.5,1.3,0.2,0
9,4.9,3.1,1.5,0.1,0
67,5.8,2.7,4.1,1.0,1
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.400000
2    0.333333
0    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
59,5.2,2.7,3.9,1.4,1
10,5.4,3.7,1.5,0.2,0
108,6.7,2.5,5.8,1.8,2
80,5.5,2.4,3.8,1.1,1
50,7.0,3.2,4.7,1.4,1
147,6.5,3.0,5.2,2.0,2
30,4.8,3.1,1.6,0.2,0
101,5.8,2.7,5.1,1.9,2
64,5.6,2.9,3.6,1.3,1
89,5.5,2.5,4.0,1.3,1
48,5.3,3.7,1.5,0.2,0
111,6.4,2.7,5.3,1.9,2
68,6.2,2.2,4.5,1.5,1
12,4.8,3.0,1.4,0.1,0
102,7.1,3.0,5.9,2.1,2
104,6.5,3.0,5.8,2.2,2
46,5.1,3.8,1.6,0.2,0
17,5.1,3.5,1.4,0.3,0
55,5.7,2.8,4.5,1.3,1
75,6.6,3.0,4.4,1.4,1
74,6.4,2.9,4.3,1.3,1
57,4.9,2.4,3.3,1.0,1
19,5.1,3.8,1.5,0.3,0
145,6.7,3.0,5.2,2.3,2
72,6.3,2.5,4.9,1.5,1
58,6.6,2.9,4.6,1.3,1
21,5.1,3.7,1.5,0.4,0
103,6.3,2.9,5.6,1.8,2
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.400000
0    0.311111
1    0.288889
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
36,5.5,3.5,1.3,0.2,0
21,5.1,3.7,1.5,0.4,0
103,6.3,2.9,5.6,1.8,2
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 92 to 67
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.366667
0    0.366667
2    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
92,5.8,2.6,4.0,1.2,1
141,6.9,3.1,5.1,2.3,2
69,5.6,2.5,3.9,1.1,1
135,7.7,3.0,6.1,2.3,2
133,6.3,2.8,5.1,1.5,2
91,6.1,3.0,4.6,1.4,1
125,7.2,3.2,6.0,1.8,2
13,4.3,3.0,1.1,0.1,0
52,6.9,3.1,4.9,1.5,1
149,5.9,3.0,5.1,1.8,2
98,5.1,2.5,3.0,1.1,1
11,4.8,3.4,1.6,0.2,0
113,5.7,2.5,5.0,2.0,2
139,6.9,3.1,5.4,2.1,2
4,5.0,3.6,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
53,5.5,2.3,4.0,1.3,1
28,5.2,3.4,1.4,0.2,0
35,5.0,3.2,1.2,0.2,0
23,5.1,3.3,1.7,0.5,0
31,5.4,3.4,1.5,0.4,0
65,6.7,3.1,4.4,1.4,1
32,5.2,4.1,1.5,0.1,0
77,6.7,3.0,5.0,1.7,1
81,5.5,2.4,3.7,1.0,1
140,6.7,3.1,5.6,2.4,2
39,5.1,3.4,1.5,0.2,0
87,6.3,2.3,4.4,1.3,1
9,4.9,3.1,1.5,0.1,0
67,5.8,2.7,4.1,1.0,1

============================================================
ITER 5

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.400000
0    0.344444
1    0.255556
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 59 to 67
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.466667
2    0.266667
0    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
59,5.2,2.7,3.9,1.4,1
61,5.9,3.0,4.2,1.5,1
92,5.8,2.6,4.0,1.2,1
141,6.9,3.1,5.1,2.3,2
144,6.7,3.3,5.7,2.5,2
50,7.0,3.2,4.7,1.4,1
64,5.6,2.9,3.6,1.3,1
125,7.2,3.2,6.0,1.8,2
13,4.3,3.0,1.1,0.1,0
52,6.9,3.1,4.9,1.5,1
98,5.1,2.5,3.0,1.1,1
6,4.6,3.4,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
113,5.7,2.5,5.0,2.0,2
38,4.4,3.0,1.3,0.2,0
0,5.1,3.5,1.4,0.2,0
55,5.7,2.8,4.5,1.3,1
118,7.7,2.6,6.9,2.3,2
57,4.9,2.4,3.3,1.0,1
32,5.2,4.1,1.5,0.1,0
136,6.3,3.4,5.6,2.4,2
115,6.4,3.2,5.3,2.3,2
145,6.7,3.0,5.2,2.3,2
72,6.3,2.5,4.9,1.5,1
77,6.7,3.0,5.0,1.7,1
39,5.1,3.4,1.5,0.2,0
58,6.6,2.9,4.6,1.3,1
70,5.9,3.2,4.8,1.8,1
36,5.5,3.5,1.3,0.2,0
67,5.8,2.7,4.1,1.0,1

============================================================
ITER 6

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.366667
0    0.333333
1    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 84 to 88
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.366667
1    0.333333
0    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
18,5.7,3.8,1.7,0.3,0
83,6.0,2.7,5.1,1.6,1
60,5.0,2.0,3.5,1.0,1
116,6.5,3.0,5.5,1.8,2
119,6.0,2.2,5.0,1.5,2
135,7.7,3.0,6.1,2.3,2
56,6.3,3.3,4.7,1.6,1
133,6.3,2.8,5.1,1.5,2
147,6.5,3.0,5.2,2.0,2
30,4.8,3.1,1.6,0.2,0
94,5.6,2.7,4.2,1.3,1
68,6.2,2.2,4.5,1.5,1
102,7.1,3.0,5.9,2.1,2
104,6.5,3.0,5.8,2.2,2
46,5.1,3.8,1.6,0.2,0
129,7.2,3.0,5.8,1.6,2
17,5.1,3.5,1.4,0.3,0
5,5.4,3.9,1.7,0.4,0
53,5.5,2.3,4.0,1.3,1
143,6.8,3.2,5.9,2.3,2
34,4.9,3.1,1.5,0.2,0
65,6.7,3.1,4.4,1.4,1
138,6.0,3.0,4.8,1.8,2
19,5.1,3.8,1.5,0.3,0
29,4.7,3.2,1.6,0.2,0
49,5.0,3.3,1.4,0.2,0
99,5.7,2.8,4.1,1.3,1
140,6.7,3.1,5.6,2.4,2
88,5.6,3.0,4.1,1.3,1

============================================================
ITER 7

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

1    0.366667
2    0.344444
0    0.288889
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 127 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.433333
0    0.433333
1    0.133333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
43,5.0,3.5,1.6,0.6,0
108,6.7,2.5,5.8,1.8,2
123,6.3,2.7,4.9,1.8,2
106,4.9,2.5,4.5,1.7,2
85,6.0,3.4,4.5,1.6,1
101,5.8,2.7,5.1,1.9,2
48,5.3,3.7,1.5,0.2,0
111,6.4,2.7,5.3,1.9,2
20,5.4,3.4,1.7,0.2,0
3,4.6,3.1,1.5,0.2,0
96,5.7,2.9,4.2,1.3,1
12,4.8,3.0,1.4,0.1,0
120,6.9,3.2,5.7,2.3,2
128,6.4,2.8,5.6,2.1,2
124,6.7,3.3,5.7,2.1,2
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
105,7.6,3.0,6.6,2.1,2
28,5.2,3.4,1.4,0.2,0
75,6.6,3.0,4.4,1.4,1
35,5.0,3.2,1.2,0.2,0
31,5.4,3.4,1.5,0.4,0
14,5.8,4.0,1.2,0.2,0
122,7.7,2.8,6.7,2.0,2
25,5.0,3.0,1.6,0.2,0
81,5.5,2.4,3.7,1.0,1
142,5.8,2.7,5.1,1.9,2
47,4.6,3.2,1.4,0.2,0

============================================================
ITER 8

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.355556
0    0.333333
1    0.311111
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
88,5.6,3.0,4.1,1.3,1
70,5.9,3.2,4.8,1.8,1
36,5.5,3.5,1.3,0.2,0
67,5.8,2.7,4.1,1.0,1
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.4
0    0.3
1    0.3
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
27,5.2,3.5,1.5,0.2,0
112,6.8,3.0,5.5,2.1,2
2,4.7,3.2,1.3,0.2,0
10,5.4,3.7,1.5,0.2,0
69,5.6,2.5,3.9,1.1,1
80,5.5,2.4,3.8,1.1,1
146,6.3,2.5,5.0,1.9,2
89,5.5,2.5,4.0,1.3,1
91,6.1,3.0,4.6,1.4,1
95,5.7,3.0,4.2,1.2,1
15,5.7,4.4,1.5,0.4,0
149,5.9,3.0,5.1,1.8,2
109,7.2,3.6,6.1,2.5,2
11,4.8,3.4,1.6,0.2,0
110,6.5,3.2,5.1,2.0,2
148,6.2,3.4,5.4,2.3,2
139,6.9,3.1,5.4,2.1,2
4,5.0,3.6,1.4,0.2,0
23,5.1,3.3,1.7,0.5,0
74,6.4,2.9,4.3,1.3,1
131,7.9,3.8,6.4,2.0,2
130,7.4,2.8,6.1,1.9,2
82,5.8,2.7,3.9,1.2,1
79,5.7,2.6,3.5,1.0,1
87,6.3,2.3,4.4,1.3,1
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 9

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.344444
0    0.344444
1    0.311111
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 43 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.433333
1    0.300000
0    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
43,5.0,3.5,1.6,0.6,0
10,5.4,3.7,1.5,0.2,0
60,5.0,2.0,3.5,1.0,1
123,6.3,2.7,4.9,1.8,2
106,4.9,2.5,4.5,1.7,2
125,7.2,3.2,6.0,1.8,2
48,5.3,3.7,1.5,0.2,0
20,5.4,3.4,1.7,0.2,0
68,6.2,2.2,4.5,1.5,1
12,4.8,3.0,1.4,0.1,0
120,6.9,3.2,5.7,2.3,2
104,6.5,3.0,5.8,2.2,2
124,6.7,3.3,5.7,2.1,2
113,5.7,2.5,5.0,2.0,2
129,7.2,3.0,5.8,1.6,2
105,7.6,3.0,6.6,2.1,2
34,4.9,3.1,1.5,0.2,0
55,5.7,2.8,4.5,1.3,1
74,6.4,2.9,4.3,1.3,1
131,7.9,3.8,6.4,2.0,2
138,6.0,3.0,4.8,1.8,2
49,5.0,3.3,1.4,0.2,0
82,5.8,2.7,3.9,1.2,1
79,5.7,2.6,3.5,1.0,1
77,6.7,3.0,5.0,1.7,1
25,5.0,3.0,1.6,0.2,0
81,5.5,2.4,3.7,1.0,1
142,5.8,2.7,5.1,1.9,2
58,6.6,2.9,4.6,1.3,1
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 10

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.377778
0    0.333333
1    0.288889
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 132 to 70
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.366667
2    0.333333
0    0.300000
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
132,6.4,2.8,5.6,2.2,2
18,5.7,3.8,1.7,0.3,0
83,6.0,2.7,5.1,1.6,1
2,4.7,3.2,1.3,0.2,0
116,6.5,3.0,5.5,1.8,2
108,6.7,2.5,5.8,1.8,2
135,7.7,3.0,6.1,2.3,2
56,6.3,3.3,4.7,1.6,1
50,7.0,3.2,4.7,1.4,1
101,5.8,2.7,5.1,1.9,2
15,5.7,4.4,1.5,0.4,0
98,5.1,2.5,3.0,1.1,1
96,5.7,2.9,4.2,1.3,1
128,6.4,2.8,5.6,2.1,2
46,5.1,3.8,1.6,0.2,0
11,4.8,3.4,1.6,0.2,0
110,6.5,3.2,5.1,2.0,2
1,4.9,3.0,1.4,0.2,0
42,4.4,3.2,1.3,0.2,0
38,4.4,3.0,1.3,0.2,0
53,5.5,2.3,4.0,1.3,1
23,5.1,3.3,1.7,0.5,0
118,7.7,2.6,6.9,2.3,2
65,6.7,3.1,4.4,1.4,1
99,5.7,2.8,4.1,1.3,1
115,6.4,3.2,5.3,2.3,2
145,6.7,3.0,5.2,2.3,2
72,6.3,2.5,4.9,1.5,1
88,5.6,3.0,4.1,1.3,1
70,5.9,3.2,4.8,1.8,1

============================================================
ITER 11

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 127 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.344444
1    0.333333
0    0.322222
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
18,5.7,3.8,1.7,0.3,0
83,6.0,2.7,5.1,1.6,1
92,5.8,2.6,4.0,1.2,1
...,...,...,...,...,...
70,5.9,3.2,4.8,1.8,1
87,6.3,2.3,4.4,1.3,1
36,5.5,3.5,1.3,0.2,0
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 137 to 67
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.433333
0    0.333333
1    0.233333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
59,5.2,2.7,3.9,1.4,1
61,5.9,3.0,4.2,1.5,1
141,6.9,3.1,5.1,2.3,2
144,6.7,3.3,5.7,2.5,2
119,6.0,2.2,5.0,1.5,2
133,6.3,2.8,5.1,1.5,2
85,6.0,3.4,4.5,1.6,1
91,6.1,3.0,4.6,1.4,1
111,6.4,2.7,5.3,1.9,2
6,4.6,3.4,1.4,0.3,0
148,6.2,3.4,5.4,2.3,2
139,6.9,3.1,5.4,2.1,2
17,5.1,3.5,1.4,0.3,0
0,5.1,3.5,1.4,0.2,0
28,5.2,3.4,1.4,0.2,0
75,6.6,3.0,4.4,1.4,1
35,5.0,3.2,1.2,0.2,0
31,5.4,3.4,1.5,0.4,0
122,7.7,2.8,6.7,2.0,2
19,5.1,3.8,1.5,0.3,0
130,7.4,2.8,6.1,1.9,2
136,6.3,3.4,5.6,2.4,2
140,6.7,3.1,5.6,2.4,2
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1

============================================================
ITER 12

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

2    0.4
1    0.3
0    0.3
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 127 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.400000
1    0.333333
2    0.266667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
127,6.1,3.0,4.9,1.8,2
92,5.8,2.6,4.0,1.2,1
112,6.8,3.0,5.5,2.1,2
69,5.6,2.5,3.9,1.1,1
80,5.5,2.4,3.8,1.1,1
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
30,4.8,3.1,1.6,0.2,0
94,5.6,2.7,4.2,1.3,1
64,5.6,2.9,3.6,1.3,1
89,5.5,2.5,4.0,1.3,1
13,4.3,3.0,1.1,0.1,0
95,5.7,3.0,4.2,1.2,1
52,6.9,3.1,4.9,1.5,1
3,4.6,3.1,1.5,0.2,0
149,5.9,3.0,5.1,1.8,2
109,7.2,3.6,6.1,2.5,2
102,7.1,3.0,5.9,2.1,2
41,4.5,2.3,1.3,0.3,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
143,6.8,3.2,5.9,2.3,2
57,4.9,2.4,3.3,1.0,1
32,5.2,4.1,1.5,0.1,0
14,5.8,4.0,1.2,0.2,0
29,4.7,3.2,1.6,0.2,0
39,5.1,3.4,1.5,0.2,0
87,6.3,2.3,4.4,1.3,1
36,5.5,3.5,1.3,0.2,0
47,4.6,3.2,1.4,0.2,0

## Stratified Split

In [ ]:
from sklearn.model_selection import RepeatedStratifiedKFold

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0, stratify=df['class'])

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

In [ ]:
rskf = RepeatedStratifiedKFold(n_splits=4, n_repeats=3, random_state=0)

iter_num = 1
for train_index, val_index in rskf.split(df_cv,df_cv['class']): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
...,...,...,...,...,...
138,6.0,3.0,4.8,1.8,2
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 7 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
7,5.0,3.4,1.5,0.2,0
108,6.7,2.5,5.8,1.8,2
118,7.7,2.6,6.9,2.3,2
140,6.7,3.1,5.6,2.4,2
114,5.8,2.8,5.1,2.4,2
89,5.5,2.5,4.0,1.3,1
73,6.1,2.8,4.7,1.2,1
23,5.1,3.3,1.7,0.5,0
120,6.9,3.2,5.7,2.3,2
59,5.2,2.7,3.9,1.4,1
95,5.7,3.0,4.2,1.2,1
33,5.5,4.2,1.4,0.2,0
61,5.9,3.0,4.2,1.5,1
12,4.8,3.0,1.4,0.1,0
137,6.4,3.1,5.5,1.8,2
93,5.0,2.3,3.3,1.0,1
144,6.7,3.3,5.7,2.5,2
48,5.3,3.7,1.5,0.2,0
80,5.5,2.4,3.8,1.1,1
109,7.2,3.6,6.1,2.5,2
53,5.5,2.3,4.0,1.3,1
40,5.0,3.5,1.3,0.3,0
76,6.8,2.8,4.8,1.4,1
42,4.4,3.2,1.3,0.2,0
68,6.2,2.2,4.5,1.5,1
18,5.7,3.8,1.7,0.3,0
29,4.7,3.2,1.6,0.2,0
34,4.9,3.1,1.5,0.2,0
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
108,6.7,2.5,5.8,1.8,2
...,...,...,...,...,...
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 82 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.333333
0    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
72,6.3,2.5,4.9,1.5,1
127,6.1,3.0,4.9,1.8,2
5,5.4,3.9,1.7,0.4,0
56,6.3,3.3,4.7,1.6,1
28,5.2,3.4,1.4,0.2,0
104,6.5,3.0,5.8,2.2,2
22,4.6,3.6,1.0,0.2,0
83,6.0,2.7,5.1,1.6,1
110,6.5,3.2,5.1,2.0,2
62,6.0,2.2,4.0,1.0,1
102,7.1,3.0,5.9,2.1,2
74,6.4,2.9,4.3,1.3,1
13,4.3,3.0,1.1,0.1,0
15,5.7,4.4,1.5,0.4,0
66,5.6,3.0,4.5,1.5,1
41,4.5,2.3,1.3,0.3,0
51,6.4,3.2,4.5,1.5,1
11,4.8,3.4,1.6,0.2,0
101,5.8,2.7,5.1,1.9,2
123,6.3,2.7,4.9,1.8,2
107,7.3,2.9,6.3,1.8,2
20,5.4,3.4,1.7,0.2,0
2,4.7,3.2,1.3,0.2,0
92,5.8,2.6,4.0,1.2,1
70,5.9,3.2,4.8,1.8,1
130,7.4,2.8,6.1,1.9,2
138,6.0,3.0,4.8,1.8,2
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 7 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
108,6.7,2.5,5.8,1.8,2
72,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 45 to 84
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
124,6.7,3.3,5.7,2.1,2
94,5.6,2.7,4.2,1.3,1
32,5.2,4.1,1.5,0.1,0
96,5.7,2.9,4.2,1.3,1
27,5.2,3.5,1.5,0.2,0
112,6.8,3.0,5.5,2.1,2
98,5.1,2.5,3.0,1.1,1
26,5.0,3.4,1.6,0.4,0
126,6.2,2.8,4.8,1.8,2
78,6.0,2.9,4.5,1.5,1
87,6.3,2.3,4.4,1.3,1
75,6.6,3.0,4.4,1.4,1
135,7.7,3.0,6.1,2.3,2
105,7.6,3.0,6.6,2.1,2
119,6.0,2.2,5.0,1.5,2
63,6.1,2.9,4.7,1.4,1
71,6.1,2.8,4.0,1.3,1
49,5.0,3.3,1.4,0.2,0
148,6.2,3.4,5.4,2.3,2
133,6.3,2.8,5.1,1.5,2
25,5.0,3.0,1.6,0.2,0
14,5.8,4.0,1.2,0.2,0
85,6.0,3.4,4.5,1.6,1
35,5.0,3.2,1.2,0.2,0
131,7.9,3.8,6.4,2.0,2
116,6.5,3.0,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
29,4.7,3.2,1.6,0.2,0
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 149 to 145
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

2    0.333333
1    0.333333
0    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
149,5.9,3.0,5.1,1.8,2
57,4.9,2.4,3.3,1.0,1
141,6.9,3.1,5.1,2.3,2
69,5.6,2.5,3.9,1.1,1
125,7.2,3.2,6.0,1.8,2
91,6.1,3.0,4.6,1.4,1
31,5.4,3.4,1.5,0.4,0
122,7.7,2.8,6.7,2.0,2
79,5.7,2.6,3.5,1.0,1
132,6.4,2.8,5.6,2.2,2
4,5.0,3.6,1.4,0.2,0
115,6.4,3.2,5.3,2.3,2
16,5.4,3.9,1.3,0.4,0
146,6.3,2.5,5.0,1.9,2
8,4.4,2.9,1.4,0.2,0
10,5.4,3.7,1.5,0.2,0
24,4.8,3.4,1.9,0.2,0
97,6.2,2.9,4.3,1.3,1
77,6.7,3.0,5.0,1.7,1
6,4.6,3.4,1.4,0.3,0
111,6.4,2.7,5.3,1.9,2
17,5.1,3.5,1.4,0.3,0
30,4.8,3.1,1.6,0.2,0
58,6.6,2.9,4.6,1.3,1
143,6.8,3.2,5.9,2.3,2
60,5.0,2.0,3.5,1.0,1
43,5.0,3.5,1.6,0.6,0
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2

============================================================
ITER 5

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
...,...,...,...,...,...
52,6.9,3.1,4.9,1.5,1
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 145
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
1,4.9,3.0,1.4,0.2,0
141,6.9,3.1,5.1,2.3,2
28,5.2,3.4,1.4,0.2,0
112,6.8,3.0,5.5,2.1,2
69,5.6,2.5,3.9,1.1,1
114,5.8,2.8,5.1,2.4,2
83,6.0,2.7,5.1,1.6,1
91,6.1,3.0,4.6,1.4,1
126,6.2,2.8,4.8,1.8,2
89,5.5,2.5,4.0,1.3,1
75,6.6,3.0,4.4,1.4,1
8,4.4,2.9,1.4,0.2,0
10,5.4,3.7,1.5,0.2,0
135,7.7,3.0,6.1,2.3,2
15,5.7,4.4,1.5,0.4,0
119,6.0,2.2,5.0,1.5,2
6,4.6,3.4,1.4,0.3,0
111,6.4,2.7,5.3,1.9,2
48,5.3,3.7,1.5,0.2,0
80,5.5,2.4,3.8,1.1,1
101,5.8,2.7,5.1,1.9,2
53,5.5,2.3,4.0,1.3,1
40,5.0,3.5,1.3,0.3,0
68,6.2,2.2,4.5,1.5,1
85,6.0,3.4,4.5,1.6,1
35,5.0,3.2,1.2,0.2,0
131,7.9,3.8,6.4,2.0,2
29,4.7,3.2,1.6,0.2,0
64,5.6,2.9,3.6,1.3,1
145,6.7,3.0,5.2,2.3,2

============================================================
ITER 6

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
...,...,...,...,...,...
29,4.7,3.2,1.6,0.2,0
64,5.6,2.9,3.6,1.3,1
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 7 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
7,5.0,3.4,1.5,0.2,0
124,6.7,3.3,5.7,2.1,2
94,5.6,2.7,4.2,1.3,1
32,5.2,4.1,1.5,0.1,0
96,5.7,2.9,4.2,1.3,1
56,6.3,3.3,4.7,1.6,1
140,6.7,3.1,5.6,2.4,2
98,5.1,2.5,3.0,1.1,1
26,5.0,3.4,1.6,0.4,0
110,6.5,3.2,5.1,2.0,2
122,7.7,2.8,6.7,2.0,2
23,5.1,3.3,1.7,0.5,0
115,6.4,3.2,5.3,2.3,2
95,5.7,3.0,4.2,1.2,1
13,4.3,3.0,1.1,0.1,0
12,4.8,3.0,1.4,0.1,0
51,6.4,3.2,4.5,1.5,1
11,4.8,3.4,1.6,0.2,0
123,6.3,2.7,4.9,1.8,2
71,6.1,2.8,4.0,1.3,1
49,5.0,3.3,1.4,0.2,0
148,6.2,3.4,5.4,2.3,2
25,5.0,3.0,1.6,0.2,0
14,5.8,4.0,1.2,0.2,0
58,6.6,2.9,4.6,1.3,1
143,6.8,3.2,5.9,2.3,2
70,5.9,3.2,4.8,1.8,1
52,6.9,3.1,4.9,1.5,1
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

============================================================
ITER 7

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 1 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
1,4.9,3.0,1.4,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
124,6.7,3.3,5.7,2.1,2
...,...,...,...,...,...
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 45 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
38,4.4,3.0,1.3,0.2,0
108,6.7,2.5,5.8,1.8,2
72,6.3,2.5,4.9,1.5,1
5,5.4,3.9,1.7,0.4,0
118,7.7,2.6,6.9,2.3,2
22,4.6,3.6,1.0,0.2,0
125,7.2,3.2,6.0,1.8,2
132,6.4,2.8,5.6,2.2,2
78,6.0,2.9,4.5,1.5,1
87,6.3,2.3,4.4,1.3,1
73,6.1,2.8,4.7,1.2,1
120,6.9,3.2,5.7,2.3,2
146,6.3,2.5,5.0,1.9,2
102,7.1,3.0,5.9,2.1,2
97,6.2,2.9,4.3,1.3,1
33,5.5,4.2,1.4,0.2,0
61,5.9,3.0,4.2,1.5,1
77,6.7,3.0,5.0,1.7,1
66,5.6,3.0,4.5,1.5,1
41,4.5,2.3,1.3,0.3,0
144,6.7,3.3,5.7,2.5,2
17,5.1,3.5,1.4,0.3,0
76,6.8,2.8,4.8,1.4,1
20,5.4,3.4,1.7,0.2,0
42,4.4,3.2,1.3,0.2,0
92,5.8,2.6,4.0,1.2,1
130,7.4,2.8,6.1,1.9,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 8

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
108,6.7,2.5,5.8,1.8,2
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 82 to 138
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

1    0.333333
0    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
127,6.1,3.0,4.9,1.8,2
149,5.9,3.0,5.1,1.8,2
57,4.9,2.4,3.3,1.0,1
104,6.5,3.0,5.8,2.2,2
27,5.2,3.5,1.5,0.2,0
31,5.4,3.4,1.5,0.4,0
79,5.7,2.6,3.5,1.0,1
4,5.0,3.6,1.4,0.2,0
62,6.0,2.2,4.0,1.0,1
59,5.2,2.7,3.9,1.4,1
16,5.4,3.9,1.3,0.4,0
74,6.4,2.9,4.3,1.3,1
24,4.8,3.4,1.9,0.2,0
105,7.6,3.0,6.6,2.1,2
137,6.4,3.1,5.5,1.8,2
63,6.1,2.9,4.7,1.4,1
93,5.0,2.3,3.3,1.0,1
109,7.2,3.6,6.1,2.5,2
133,6.3,2.8,5.1,1.5,2
107,7.3,2.9,6.3,1.8,2
30,4.8,3.1,1.6,0.2,0
2,4.7,3.2,1.3,0.2,0
116,6.5,3.0,5.5,1.8,2
18,5.7,3.8,1.7,0.3,0
60,5.0,2.0,3.5,1.0,1
84,5.4,3.0,4.5,1.5,1
43,5.0,3.5,1.6,0.6,0
138,6.0,3.0,4.8,1.8,2

============================================================
ITER 9

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
7,5.0,3.4,1.5,0.2,0
37,4.9,3.6,1.4,0.1,0
124,6.7,3.3,5.7,2.1,2
...,...,...,...,...,...
64,5.6,2.9,3.6,1.3,1
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 38 to 128
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
38,4.4,3.0,1.3,0.2,0
82,5.8,2.7,3.9,1.2,1
108,6.7,2.5,5.8,1.8,2
72,6.3,2.5,4.9,1.5,1
127,6.1,3.0,4.9,1.8,2
149,5.9,3.0,5.1,1.8,2
96,5.7,2.9,4.2,1.3,1
125,7.2,3.2,6.0,1.8,2
91,6.1,3.0,4.6,1.4,1
89,5.5,2.5,4.0,1.3,1
122,7.7,2.8,6.7,2.0,2
75,6.6,3.0,4.4,1.4,1
146,6.3,2.5,5.0,1.9,2
97,6.2,2.9,4.3,1.3,1
33,5.5,4.2,1.4,0.2,0
15,5.7,4.4,1.5,0.4,0
12,4.8,3.0,1.4,0.1,0
41,4.5,2.3,1.3,0.3,0
137,6.4,3.1,5.5,1.8,2
48,5.3,3.7,1.5,0.2,0
53,5.5,2.3,4.0,1.3,1
71,6.1,2.8,4.0,1.3,1
40,5.0,3.5,1.3,0.3,0
30,4.8,3.1,1.6,0.2,0
35,5.0,3.2,1.2,0.2,0
131,7.9,3.8,6.4,2.0,2
116,6.5,3.0,5.5,1.8,2
29,4.7,3.2,1.6,0.2,0
52,6.9,3.1,4.9,1.5,1
128,6.4,2.8,5.6,2.1,2

============================================================
ITER 10

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 1 to 128
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
108,6.7,2.5,5.8,1.8,2
...,...,...,...,...,...
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
94,5.6,2.7,4.2,1.3,1
57,4.9,2.4,3.3,1.0,1
56,6.3,3.3,4.7,1.6,1
104,6.5,3.0,5.8,2.2,2
69,5.6,2.5,3.9,1.1,1
26,5.0,3.4,1.6,0.4,0
114,5.8,2.8,5.1,2.4,2
126,6.2,2.8,4.8,1.8,2
23,5.1,3.3,1.7,0.5,0
62,6.0,2.2,4.0,1.0,1
115,6.4,3.2,5.3,2.3,2
16,5.4,3.9,1.3,0.4,0
102,7.1,3.0,5.9,2.1,2
8,4.4,2.9,1.4,0.2,0
74,6.4,2.9,4.3,1.3,1
24,4.8,3.4,1.9,0.2,0
77,6.7,3.0,5.0,1.7,1
119,6.0,2.2,5.0,1.5,2
93,5.0,2.3,3.3,1.0,1
144,6.7,3.3,5.7,2.5,2
123,6.3,2.7,4.9,1.8,2
17,5.1,3.5,1.4,0.3,0
25,5.0,3.0,1.6,0.2,0
14,5.8,4.0,1.2,0.2,0
85,6.0,3.4,4.5,1.6,1
92,5.8,2.6,4.0,1.2,1
145,6.7,3.0,5.2,2.3,2
106,4.9,2.5,4.5,1.7,2

============================================================
ITER 11

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
1,4.9,3.0,1.4,0.2,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
...,...,...,...,...,...
64,5.6,2.9,3.6,1.3,1
52,6.9,3.1,4.9,1.5,1
145,6.7,3.0,5.2,2.3,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 37 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
37,4.9,3.6,1.4,0.1,0
124,6.7,3.3,5.7,2.1,2
5,5.4,3.9,1.7,0.4,0
112,6.8,3.0,5.5,2.1,2
98,5.1,2.5,3.0,1.1,1
83,6.0,2.7,5.1,1.6,1
110,6.5,3.2,5.1,2.0,2
132,6.4,2.8,5.6,2.2,2
87,6.3,2.3,4.4,1.3,1
73,6.1,2.8,4.7,1.2,1
4,5.0,3.6,1.4,0.2,0
10,5.4,3.7,1.5,0.2,0
13,4.3,3.0,1.1,0.1,0
135,7.7,3.0,6.1,2.3,2
61,5.9,3.0,4.2,1.5,1
51,6.4,3.2,4.5,1.5,1
63,6.1,2.9,4.7,1.4,1
6,4.6,3.4,1.4,0.3,0
80,5.5,2.4,3.8,1.1,1
101,5.8,2.7,5.1,1.9,2
49,5.0,3.3,1.4,0.2,0
133,6.3,2.8,5.1,1.5,2
107,7.3,2.9,6.3,1.8,2
42,4.4,3.2,1.3,0.2,0
58,6.6,2.9,4.6,1.3,1
84,5.4,3.0,4.5,1.5,1
43,5.0,3.5,1.6,0.6,0
130,7.4,2.8,6.1,1.9,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 12

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 45 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  90 non-null     float64
 1   sepal width (cm)   90 non-null     float64
 2   petal length (cm)  90 non-null     float64
 3   petal width (cm)   90 non-null     float64
 4   class              90 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.2 KB

None

========== Class Proportion ==========

0    0.333333
1    0.333333
2    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
45,4.8,3.0,1.4,0.3,0
38,4.4,3.0,1.3,0.2,0
7,5.0,3.4,1.5,0.2,0
82,5.8,2.7,3.9,1.2,1
37,4.9,3.6,1.4,0.1,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
34,4.9,3.1,1.5,0.2,0
117,7.7,3.8,6.7,2.2,2
128,6.4,2.8,5.6,2.1,2
106,4.9,2.5,4.5,1.7,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 64
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  30 non-null     float64
 1   sepal width (cm)   30 non-null     float64
 2   petal length (cm)  30 non-null     float64
 3   petal width (cm)   30 non-null     float64
 4   class              30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4 KB

None

========== Class Proportion ==========

0    0.333333
2    0.333333
1    0.333333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
1,4.9,3.0,1.4,0.2,0
118,7.7,2.6,6.9,2.3,2
141,6.9,3.1,5.1,2.3,2
32,5.2,4.1,1.5,0.1,0
28,5.2,3.4,1.4,0.2,0
22,4.6,3.6,1.0,0.2,0
27,5.2,3.5,1.5,0.2,0
140,6.7,3.1,5.6,2.4,2
31,5.4,3.4,1.5,0.4,0
79,5.7,2.6,3.5,1.0,1
78,6.0,2.9,4.5,1.5,1
120,6.9,3.2,5.7,2.3,2
59,5.2,2.7,3.9,1.4,1
95,5.7,3.0,4.2,1.2,1
105,7.6,3.0,6.6,2.1,2
66,5.6,3.0,4.5,1.5,1
11,4.8,3.4,1.6,0.2,0
111,6.4,2.7,5.3,1.9,2
109,7.2,3.6,6.1,2.5,2
148,6.2,3.4,5.4,2.3,2
76,6.8,2.8,4.8,1.4,1
20,5.4,3.4,1.7,0.2,0
68,6.2,2.2,4.5,1.5,1
143,6.8,3.2,5.9,2.3,2
2,4.7,3.2,1.3,0.2,0
18,5.7,3.8,1.7,0.3,0
60,5.0,2.0,3.5,1.0,1
70,5.9,3.2,4.8,1.8,1
138,6.0,3.0,4.8,1.8,2
64,5.6,2.9,3.6,1.3,1

# Leave One-Out Cross Validation

In [ ]:
from sklearn.model_selection import LeaveOneOut

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0)

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.366667
0    0.325000
1    0.308333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

In [ ]:
loo = LeaveOneOut() 

iter_num = 1
for train_index, val_index in loo.split(df_cv): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 137 to 137
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 84 to 84
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 27 to 27
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
27,5.2,3.5,1.5,0.2,0

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 127 to 127
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
127,6.1,3.0,4.9,1.8,2

============================================================
ITER 5

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 132 to 132
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
132,6.4,2.8,5.6,2.2,2

============================================================
ITER 6

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 59 to 59
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
59,5.2,2.7,3.9,1.4,1

============================================================
ITER 7

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 18 to 18
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
18,5.7,3.8,1.7,0.3,0

============================================================
ITER 8

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 83 to 83
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
83,6.0,2.7,5.1,1.6,1

============================================================
ITER 9

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 61 to 61
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
61,5.9,3.0,4.2,1.5,1

============================================================
ITER 10

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 92 to 92
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
92,5.8,2.6,4.0,1.2,1

============================================================
ITER 11

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 112 to 112
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
112,6.8,3.0,5.5,2.1,2

============================================================
ITER 12

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 2 to 2
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
2,4.7,3.2,1.3,0.2,0

============================================================
ITER 13

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 141 to 141
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
141,6.9,3.1,5.1,2.3,2

============================================================
ITER 14

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 43 to 43
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
43,5.0,3.5,1.6,0.6,0

============================================================
ITER 15

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 10 to 10
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
10,5.4,3.7,1.5,0.2,0

============================================================
ITER 16

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 60 to 60
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
60,5.0,2.0,3.5,1.0,1

============================================================
ITER 17

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 116 to 116
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
116,6.5,3.0,5.5,1.8,2

============================================================
ITER 18

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 144 to 144
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
144,6.7,3.3,5.7,2.5,2

============================================================
ITER 19

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 119 to 119
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
119,6.0,2.2,5.0,1.5,2

============================================================
ITER 20

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 108 to 108
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
108,6.7,2.5,5.8,1.8,2

============================================================
ITER 21

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 69 to 69
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
69,5.6,2.5,3.9,1.1,1

============================================================
ITER 22

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 135 to 135
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
135,7.7,3.0,6.1,2.3,2

============================================================
ITER 23

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 56 to 56
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
56,6.3,3.3,4.7,1.6,1

============================================================
ITER 24

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 80 to 80
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
80,5.5,2.4,3.8,1.1,1

============================================================
ITER 25

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 123 to 123
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
123,6.3,2.7,4.9,1.8,2

============================================================
ITER 26

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 133 to 133
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
133,6.3,2.8,5.1,1.5,2

============================================================
ITER 27

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 106 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
106,4.9,2.5,4.5,1.7,2

============================================================
ITER 28

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 146 to 146
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
146,6.3,2.5,5.0,1.9,2

============================================================
ITER 29

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 50 to 50
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
50,7.0,3.2,4.7,1.4,1

============================================================
ITER 30

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 147 to 147
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
147,6.5,3.0,5.2,2.0,2

============================================================
ITER 31

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 85 to 85
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
85,6.0,3.4,4.5,1.6,1

============================================================
ITER 32

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 30 to 30
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
30,4.8,3.1,1.6,0.2,0

============================================================
ITER 33

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 101 to 101
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
101,5.8,2.7,5.1,1.9,2

============================================================
ITER 34

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 94 to 94
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
94,5.6,2.7,4.2,1.3,1

============================================================
ITER 35

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 64 to 64
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
64,5.6,2.9,3.6,1.3,1

============================================================
ITER 36

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 89 to 89
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
89,5.5,2.5,4.0,1.3,1

============================================================
ITER 37

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 91 to 91
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
91,6.1,3.0,4.6,1.4,1

============================================================
ITER 38

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 125 to 125
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
125,7.2,3.2,6.0,1.8,2

============================================================
ITER 39

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 48 to 48
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
48,5.3,3.7,1.5,0.2,0

============================================================
ITER 40

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 13 to 13
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
13,4.3,3.0,1.1,0.1,0

============================================================
ITER 41

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 111 to 111
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
111,6.4,2.7,5.3,1.9,2

============================================================
ITER 42

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 95 to 95
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
95,5.7,3.0,4.2,1.2,1

============================================================
ITER 43

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 20 to 20
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
20,5.4,3.4,1.7,0.2,0

============================================================
ITER 44

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15 to 15
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
15,5.7,4.4,1.5,0.4,0

============================================================
ITER 45

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 52 to 52
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
52,6.9,3.1,4.9,1.5,1

============================================================
ITER 46

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 3 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
3,4.6,3.1,1.5,0.2,0

============================================================
ITER 47

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 149 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
149,5.9,3.0,5.1,1.8,2

============================================================
ITER 48

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 98 to 98
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
98,5.1,2.5,3.0,1.1,1

============================================================
ITER 49

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 6 to 6
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
6,4.6,3.4,1.4,0.3,0

============================================================
ITER 50

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 68 to 68
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
68,6.2,2.2,4.5,1.5,1

============================================================
ITER 51

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 109 to 109
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
109,7.2,3.6,6.1,2.5,2

============================================================
ITER 52

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 96 to 96
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
96,5.7,2.9,4.2,1.3,1

============================================================
ITER 53

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 12 to 12
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
12,4.8,3.0,1.4,0.1,0

============================================================
ITER 54

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 102 to 102
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
102,7.1,3.0,5.9,2.1,2

============================================================
ITER 55

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 120 to 120
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
120,6.9,3.2,5.7,2.3,2

============================================================
ITER 56

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 104 to 104
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
104,6.5,3.0,5.8,2.2,2

============================================================
ITER 57

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 128 to 128
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
128,6.4,2.8,5.6,2.1,2

============================================================
ITER 58

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 46 to 46
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
46,5.1,3.8,1.6,0.2,0

============================================================
ITER 59

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 11 to 11
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
11,4.8,3.4,1.6,0.2,0

============================================================
ITER 60

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 110 to 110
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
110,6.5,3.2,5.1,2.0,2

============================================================
ITER 61

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 124 to 124
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
124,6.7,3.3,5.7,2.1,2

============================================================
ITER 62

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 41 to 41
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
41,4.5,2.3,1.3,0.3,0

============================================================
ITER 63

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 148 to 148
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
148,6.2,3.4,5.4,2.3,2

============================================================
ITER 64

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1 to 1
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
1,4.9,3.0,1.4,0.2,0

============================================================
ITER 65

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 113 to 113
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
113,5.7,2.5,5.0,2.0,2

============================================================
ITER 66

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 139 to 139
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
139,6.9,3.1,5.4,2.1,2

============================================================
ITER 67

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 42 to 42
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
42,4.4,3.2,1.3,0.2,0

============================================================
ITER 68

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 4 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
4,5.0,3.6,1.4,0.2,0

============================================================
ITER 69

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 129 to 129
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
129,7.2,3.0,5.8,1.6,2

============================================================
ITER 70

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 17 to 17
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
17,5.1,3.5,1.4,0.3,0

============================================================
ITER 71

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 38 to 38
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
38,4.4,3.0,1.3,0.2,0

============================================================
ITER 72

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 5 to 5
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
5,5.4,3.9,1.7,0.4,0

============================================================
ITER 73

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 53 to 53
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
53,5.5,2.3,4.0,1.3,1

============================================================
ITER 74

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 143 to 143
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
143,6.8,3.2,5.9,2.3,2

============================================================
ITER 75

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 105 to 105
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
105,7.6,3.0,6.6,2.1,2

============================================================
ITER 76

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0

============================================================
ITER 77

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 34 to 34
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
34,4.9,3.1,1.5,0.2,0

============================================================
ITER 78

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 28 to 28
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
28,5.2,3.4,1.4,0.2,0

============================================================
ITER 79

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 55 to 55
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
55,5.7,2.8,4.5,1.3,1

============================================================
ITER 80

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 75 to 75
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
75,6.6,3.0,4.4,1.4,1

============================================================
ITER 81

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 35 to 35
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
35,5.0,3.2,1.2,0.2,0

============================================================
ITER 82

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 23 to 23
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
23,5.1,3.3,1.7,0.5,0

============================================================
ITER 83

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 74 to 74
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
74,6.4,2.9,4.3,1.3,1

============================================================
ITER 84

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 31 to 31
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
31,5.4,3.4,1.5,0.4,0

============================================================
ITER 85

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 118 to 118
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
118,7.7,2.6,6.9,2.3,2

============================================================
ITER 86

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 57 to 57
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
57,4.9,2.4,3.3,1.0,1

============================================================
ITER 87

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 131 to 131
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
131,7.9,3.8,6.4,2.0,2

============================================================
ITER 88

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 65 to 65
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
65,6.7,3.1,4.4,1.4,1

============================================================
ITER 89

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 32 to 32
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
32,5.2,4.1,1.5,0.1,0

============================================================
ITER 90

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 138 to 138
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
138,6.0,3.0,4.8,1.8,2

============================================================
ITER 91

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 14 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
14,5.8,4.0,1.2,0.2,0

============================================================
ITER 92

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 122 to 122
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
122,7.7,2.8,6.7,2.0,2

============================================================
ITER 93

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 19 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
19,5.1,3.8,1.5,0.3,0

============================================================
ITER 94

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 29 to 29
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
29,4.7,3.2,1.6,0.2,0

============================================================
ITER 95

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 130 to 130
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
130,7.4,2.8,6.1,1.9,2

============================================================
ITER 96

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 49 to 49
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
49,5.0,3.3,1.4,0.2,0

============================================================
ITER 97

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 136 to 136
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
136,6.3,3.4,5.6,2.4,2

============================================================
ITER 98

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 99 to 99
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
99,5.7,2.8,4.1,1.3,1

============================================================
ITER 99

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 82 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
82,5.8,2.7,3.9,1.2,1

============================================================
ITER 100

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 79 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
79,5.7,2.6,3.5,1.0,1

============================================================
ITER 101

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 115 to 115
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
115,6.4,3.2,5.3,2.3,2

============================================================
ITER 102

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 145 to 145
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
145,6.7,3.0,5.2,2.3,2

============================================================
ITER 103

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 72 to 72
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
72,6.3,2.5,4.9,1.5,1

============================================================
ITER 104

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 77 to 77
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
77,6.7,3.0,5.0,1.7,1

============================================================
ITER 105

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 25 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
25,5.0,3.0,1.6,0.2,0

============================================================
ITER 106

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 81 to 81
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
81,5.5,2.4,3.7,1.0,1

============================================================
ITER 107

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 140 to 140
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
140,6.7,3.1,5.6,2.4,2

============================================================
ITER 108

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 142 to 142
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
142,5.8,2.7,5.1,1.9,2

============================================================
ITER 109

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 39 to 39
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
39,5.1,3.4,1.5,0.2,0

============================================================
ITER 110

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 58 to 58
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
58,6.6,2.9,4.6,1.3,1

============================================================
ITER 111

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 88 to 88
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
88,5.6,3.0,4.1,1.3,1

============================================================
ITER 112

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 70 to 70
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
70,5.9,3.2,4.8,1.8,1

============================================================
ITER 113

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 87 to 87
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
87,6.3,2.3,4.4,1.3,1

============================================================
ITER 114

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 36 to 36
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
36,5.5,3.5,1.3,0.2,0

============================================================
ITER 115

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 21 to 21
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
21,5.1,3.7,1.5,0.4,0

============================================================
ITER 116

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 9 to 9
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
9,4.9,3.1,1.5,0.1,0

============================================================
ITER 117

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 103 to 103
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
103,6.3,2.9,5.6,1.8,2

============================================================
ITER 118

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.327731
1    0.302521
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 67 to 67
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
67,5.8,2.7,4.1,1.0,1

============================================================
ITER 119

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.361345
0    0.327731
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 117 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
117,7.7,3.8,6.7,2.2,2

============================================================
ITER 120

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 137 to 117
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  119 non-null    float64
 1   sepal width (cm)   119 non-null    float64
 2   petal length (cm)  119 non-null    float64
 3   petal width (cm)   119 non-null    float64
 4   class              119 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.369748
0    0.319328
1    0.310924
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,0
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 47 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   class              1 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 48.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
47,4.6,3.2,1.4,0.2,0

# Leave P-Out Cross Validation

In [ ]:
from sklearn.model_selection import LeavePOut

In [ ]:
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0)

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

2    0.366667
0    0.325000
1    0.308333
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

In [ ]:
lpo = LeavePOut(p=2) 

iter_num = 1
for train_index, val_index in lpo.split(df_cv): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 27 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 84
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
84,5.4,3.0,4.5,1.5,1

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 27
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
27,5.2,3.5,1.5,0.2,0

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 127
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
127,6.1,3.0,4.9,1.8,2

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
59,5.2,2.7,3.9,1.4,1
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 132
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
132,6.4,2.8,5.6,2.2,2

============================================================
ITER 5

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
18,5.7,3.8,1.7,0.3,0
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 59
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
59,5.2,2.7,3.9,1.4,1

============================================================
ITER 6

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 18
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
18,5.7,3.8,1.7,0.3,0

============================================================
ITER 7

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 83
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
83,6.0,2.7,5.1,1.6,1

============================================================
ITER 8

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 61
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
61,5.9,3.0,4.2,1.5,1

============================================================
ITER 9

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 92
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
92,5.8,2.6,4.0,1.2,1

============================================================
ITER 10

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 112
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
112,6.8,3.0,5.5,2.1,2

============================================================
ITER 11

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 2
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0

============================================================
ITER 12

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 141
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
141,6.9,3.1,5.1,2.3,2

============================================================
ITER 13

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 43
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
43,5.0,3.5,1.6,0.6,0

============================================================
ITER 14

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 10
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
10,5.4,3.7,1.5,0.2,0

============================================================
ITER 15

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 60
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
60,5.0,2.0,3.5,1.0,1

============================================================
ITER 16

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 116
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
116,6.5,3.0,5.5,1.8,2

============================================================
ITER 17

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 144
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
144,6.7,3.3,5.7,2.5,2

============================================================
ITER 18

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 119
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
119,6.0,2.2,5.0,1.5,2

============================================================
ITER 19

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 108
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
108,6.7,2.5,5.8,1.8,2

============================================================
ITER 20

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 69
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
69,5.6,2.5,3.9,1.1,1

============================================================
ITER 21

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 135
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
135,7.7,3.0,6.1,2.3,2

============================================================
ITER 22

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 56
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
56,6.3,3.3,4.7,1.6,1

============================================================
ITER 23

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 80
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
80,5.5,2.4,3.8,1.1,1

============================================================
ITER 24

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 123
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
123,6.3,2.7,4.9,1.8,2

============================================================
ITER 25

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 133
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
133,6.3,2.8,5.1,1.5,2

============================================================
ITER 26

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 106
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
106,4.9,2.5,4.5,1.7,2

============================================================
ITER 27

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 146
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
146,6.3,2.5,5.0,1.9,2

============================================================
ITER 28

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 50
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
50,7.0,3.2,4.7,1.4,1

============================================================
ITER 29

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 147
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
147,6.5,3.0,5.2,2.0,2

============================================================
ITER 30

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 85
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
85,6.0,3.4,4.5,1.6,1

============================================================
ITER 31

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 30
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
30,4.8,3.1,1.6,0.2,0

============================================================
ITER 32

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 101
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
101,5.8,2.7,5.1,1.9,2

============================================================
ITER 33

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 94
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
94,5.6,2.7,4.2,1.3,1

============================================================
ITER 34

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 64
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
64,5.6,2.9,3.6,1.3,1

============================================================
ITER 35

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 89
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
89,5.5,2.5,4.0,1.3,1

============================================================
ITER 36

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 91
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
91,6.1,3.0,4.6,1.4,1

============================================================
ITER 37

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 125
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
125,7.2,3.2,6.0,1.8,2

============================================================
ITER 38

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 48
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
48,5.3,3.7,1.5,0.2,0

============================================================
ITER 39

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 13
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
13,4.3,3.0,1.1,0.1,0

============================================================
ITER 40

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 111
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
111,6.4,2.7,5.3,1.9,2

============================================================
ITER 41

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 95
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
95,5.7,3.0,4.2,1.2,1

============================================================
ITER 42

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 20
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
20,5.4,3.4,1.7,0.2,0

============================================================
ITER 43

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 15
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
15,5.7,4.4,1.5,0.4,0

============================================================
ITER 44

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 52
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
52,6.9,3.1,4.9,1.5,1

============================================================
ITER 45

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
3,4.6,3.1,1.5,0.2,0

============================================================
ITER 46

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
149,5.9,3.0,5.1,1.8,2

============================================================
ITER 47

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 98
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
98,5.1,2.5,3.0,1.1,1

============================================================
ITER 48

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 6
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
6,4.6,3.4,1.4,0.3,0

============================================================
ITER 49

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 68
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
68,6.2,2.2,4.5,1.5,1

============================================================
ITER 50

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 109
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
109,7.2,3.6,6.1,2.5,2

============================================================
ITER 51

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 96
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
96,5.7,2.9,4.2,1.3,1

============================================================
ITER 52

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 12
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
12,4.8,3.0,1.4,0.1,0

============================================================
ITER 53

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 102
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
102,7.1,3.0,5.9,2.1,2

============================================================
ITER 54

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 120
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
120,6.9,3.2,5.7,2.3,2

============================================================
ITER 55

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 104
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
104,6.5,3.0,5.8,2.2,2

============================================================
ITER 56

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 128
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
128,6.4,2.8,5.6,2.1,2

============================================================
ITER 57

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 46
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
46,5.1,3.8,1.6,0.2,0

============================================================
ITER 58

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 11
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
11,4.8,3.4,1.6,0.2,0

============================================================
ITER 59

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 110
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
110,6.5,3.2,5.1,2.0,2

============================================================
ITER 60

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 124
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
124,6.7,3.3,5.7,2.1,2

============================================================
ITER 61

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 41
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
41,4.5,2.3,1.3,0.3,0

============================================================
ITER 62

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 148
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
148,6.2,3.4,5.4,2.3,2

============================================================
ITER 63

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 1
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
1,4.9,3.0,1.4,0.2,0

============================================================
ITER 64

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 113
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
113,5.7,2.5,5.0,2.0,2

============================================================
ITER 65

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 139
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
139,6.9,3.1,5.4,2.1,2

============================================================
ITER 66

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 42
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
42,4.4,3.2,1.3,0.2,0

============================================================
ITER 67

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
4,5.0,3.6,1.4,0.2,0

============================================================
ITER 68

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 129
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
129,7.2,3.0,5.8,1.6,2

============================================================
ITER 69

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 17
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
17,5.1,3.5,1.4,0.3,0

============================================================
ITER 70

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 38
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
38,4.4,3.0,1.3,0.2,0

============================================================
ITER 71

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 5
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
5,5.4,3.9,1.7,0.4,0

============================================================
ITER 72

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 53
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
53,5.5,2.3,4.0,1.3,1

============================================================
ITER 73

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 143
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
143,6.8,3.2,5.9,2.3,2

============================================================
ITER 74

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 105
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
105,7.6,3.0,6.6,2.1,2

============================================================
ITER 75

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 0
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
0,5.1,3.5,1.4,0.2,0

============================================================
ITER 76

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 34
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
34,4.9,3.1,1.5,0.2,0

============================================================
ITER 77

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 28
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
28,5.2,3.4,1.4,0.2,0

============================================================
ITER 78

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 55
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
55,5.7,2.8,4.5,1.3,1

============================================================
ITER 79

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 75
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
75,6.6,3.0,4.4,1.4,1

============================================================
ITER 80

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 35
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
35,5.0,3.2,1.2,0.2,0

============================================================
ITER 81

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 23
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
23,5.1,3.3,1.7,0.5,0

============================================================
ITER 82

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 74
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
74,6.4,2.9,4.3,1.3,1

============================================================
ITER 83

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 31
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
31,5.4,3.4,1.5,0.4,0

============================================================
ITER 84

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 118
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
118,7.7,2.6,6.9,2.3,2

============================================================
ITER 85

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 57
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
57,4.9,2.4,3.3,1.0,1

============================================================
ITER 86

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 131
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
131,7.9,3.8,6.4,2.0,2

============================================================
ITER 87

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 65
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
65,6.7,3.1,4.4,1.4,1

============================================================
ITER 88

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 32
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
32,5.2,4.1,1.5,0.1,0

============================================================
ITER 89

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 138
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
138,6.0,3.0,4.8,1.8,2

============================================================
ITER 90

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
14,5.8,4.0,1.2,0.2,0

============================================================
ITER 91

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 122
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
122,7.7,2.8,6.7,2.0,2

============================================================
ITER 92

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
19,5.1,3.8,1.5,0.3,0

============================================================
ITER 93

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 29
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
29,4.7,3.2,1.6,0.2,0

============================================================
ITER 94

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 130
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
130,7.4,2.8,6.1,1.9,2

============================================================
ITER 95

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 49
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
49,5.0,3.3,1.4,0.2,0

============================================================
ITER 96

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 136
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
136,6.3,3.4,5.6,2.4,2

============================================================
ITER 97

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 99
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
99,5.7,2.8,4.1,1.3,1

============================================================
ITER 98

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
82,5.8,2.7,3.9,1.2,1

============================================================
ITER 99

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
79,5.7,2.6,3.5,1.0,1

============================================================
ITER 100

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 115
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
115,6.4,3.2,5.3,2.3,2

============================================================
ITER 101

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 145
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
145,6.7,3.0,5.2,2.3,2

============================================================
ITER 102

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 72
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
72,6.3,2.5,4.9,1.5,1

============================================================
ITER 103

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 77
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
77,6.7,3.0,5.0,1.7,1

============================================================
ITER 104

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
25,5.0,3.0,1.6,0.2,0

============================================================
ITER 105

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 81
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
81,5.5,2.4,3.7,1.0,1

============================================================
ITER 106

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 140
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
140,6.7,3.1,5.6,2.4,2

============================================================
ITER 107

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.355932
0    0.330508
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 142
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
142,5.8,2.7,5.1,1.9,2

============================================================
ITER 108

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.322034
1    0.313559
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 39
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
0    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
39,5.1,3.4,1.5,0.2,0

============================================================
ITER 109

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 58
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
58,6.6,2.9,4.6,1.3,1

============================================================
ITER 110

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 88
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
88,5.6,3.0,4.1,1.3,1

============================================================
ITER 111

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
84,5.4,3.0,4.5,1.5,1
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,2
132,6.4,2.8,5.6,2.2,2
59,5.2,2.7,3.9,1.4,1
...,...,...,...,...,...
9,4.9,3.1,1.5,0.1,0
103,6.3,2.9,5.6,1.8,2
67,5.8,2.7,4.1,1.0,1
117,7.7,3.8,6.7,2.2,2
47,4.6,3.2,1.4,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 137 to 70
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  2 non-null      float64
 1   sepal width (cm)   2 non-null      float64
 2   petal length (cm)  2 non-null      float64
 3   petal width (cm)   2 non-null      float64
 4   class              2 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 96.0 bytes

None

========== Class Proportion ==========

2    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
137,6.4,3.1,5.5,1.8,2
70,5.9,3.2,4.8,1.8,1

============================================================
ITER 112

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 84 to 47
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  118 non-null    float64
 1   sepal width (cm)   118 non-null    float64
 2   petal length (cm)  118 non-null    float64
 3   petal width (cm)   118 non-null    float64
 4   class              118 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.5 KB

None

========== Class Proportion ==========

2    0.364407
0    0.330508
1    0.305085
Name: class, dtype: float64

=======================================

# Time-Series Cross-Validation

In [ ]:
from sklearn.model_selection import TimeSeriesSplit

In [ ]:
#to make things simpler, please assume we are working with a time-series data
df_cv, df_test = train_test_split(df, test_size=0.2, random_state=0, shuffle=False)

In [ ]:
get_data_summary(df_cv)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  120 non-null    float64
 1   sepal width (cm)   120 non-null    float64
 2   petal length (cm)  120 non-null    float64
 3   petal width (cm)   120 non-null    float64
 4   class              120 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 5.6 KB

None

========== Class Proportion ==========

0    0.416667
1    0.416667
2    0.166667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
115,6.4,3.2,5.3,2.3,2
116,6.5,3.0,5.5,1.8,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
119,6.0,2.2,5.0,1.5,2

In [ ]:
tscv = TimeSeriesSplit(n_splits=5) 

iter_num = 1
for train_index, val_index in tscv.split(df_cv): 
    df_train, df_val = df_cv.iloc[train_index], df_cv.iloc[val_index]
    
    print("="*60)
    print(f"ITER {iter_num}\n")
    print("Train Set")
    get_data_summary(df_train)
    print("Val Set")
    get_data_summary(df_val)
    iter_num += 1

    #perform training or hyperparameter tuning here

============================================================
ITER 1

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 20 to 39
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
32,5.2,4.1,1.5,0.1,0
33,5.5,4.2,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
37,4.9,3.6,1.4,0.1,0
38,4.4,3.0,1.3,0.2,0
39,5.1,3.4,1.5,0.2,0

============================================================
ITER 2

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  40 non-null     float64
 1   sepal width (cm)   40 non-null     float64
 2   petal length (cm)  40 non-null     float64
 3   petal width (cm)   40 non-null     float64
 4   class              40 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.9 KB

None

========== Class Proportion ==========

0    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
32,5.2,4.1,1.5,0.1,0
33,5.5,4.2,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
37,4.9,3.6,1.4,0.1,0
38,4.4,3.0,1.3,0.2,0
39,5.1,3.4,1.5,0.2,0

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 40 to 59
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

0    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
40,5.0,3.5,1.3,0.3,0
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
43,5.0,3.5,1.6,0.6,0
44,5.1,3.8,1.9,0.4,0
45,4.8,3.0,1.4,0.3,0
46,5.1,3.8,1.6,0.2,0
47,4.6,3.2,1.4,0.2,0
48,5.3,3.7,1.5,0.2,0
49,5.0,3.3,1.4,0.2,0
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
55,5.7,2.8,4.5,1.3,1
56,6.3,3.3,4.7,1.6,1
57,4.9,2.4,3.3,1.0,1
58,6.6,2.9,4.6,1.3,1
59,5.2,2.7,3.9,1.4,1

============================================================
ITER 3

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  60 non-null     float64
 1   sepal width (cm)   60 non-null     float64
 2   petal length (cm)  60 non-null     float64
 3   petal width (cm)   60 non-null     float64
 4   class              60 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 2.8 KB

None

========== Class Proportion ==========

0    0.833333
1    0.166667
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
32,5.2,4.1,1.5,0.1,0
33,5.5,4.2,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
37,4.9,3.6,1.4,0.1,0
38,4.4,3.0,1.3,0.2,0
39,5.1,3.4,1.5,0.2,0
40,5.0,3.5,1.3,0.3,0
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
43,5.0,3.5,1.6,0.6,0
44,5.1,3.8,1.9,0.4,0
45,4.8,3.0,1.4,0.3,0
46,5.1,3.8,1.6,0.2,0
47,4.6,3.2,1.4,0.2,0
48,5.3,3.7,1.5,0.2,0
49,5.0,3.3,1.4,0.2,0
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
55,5.7,2.8,4.5,1.3,1
56,6.3,3.3,4.7,1.6,1
57,4.9,2.4,3.3,1.0,1
58,6.6,2.9,4.6,1.3,1
59,5.2,2.7,3.9,1.4,1

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 60 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
60,5.0,2.0,3.5,1.0,1
61,5.9,3.0,4.2,1.5,1
62,6.0,2.2,4.0,1.0,1
63,6.1,2.9,4.7,1.4,1
64,5.6,2.9,3.6,1.3,1
65,6.7,3.1,4.4,1.4,1
66,5.6,3.0,4.5,1.5,1
67,5.8,2.7,4.1,1.0,1
68,6.2,2.2,4.5,1.5,1
69,5.6,2.5,3.9,1.1,1
70,5.9,3.2,4.8,1.8,1
71,6.1,2.8,4.0,1.3,1
72,6.3,2.5,4.9,1.5,1
73,6.1,2.8,4.7,1.2,1
74,6.4,2.9,4.3,1.3,1
75,6.6,3.0,4.4,1.4,1
76,6.8,2.8,4.8,1.4,1
77,6.7,3.0,5.0,1.7,1
78,6.0,2.9,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1

============================================================
ITER 4

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  80 non-null     float64
 1   sepal width (cm)   80 non-null     float64
 2   petal length (cm)  80 non-null     float64
 3   petal width (cm)   80 non-null     float64
 4   class              80 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 3.8 KB

None

========== Class Proportion ==========

0    0.625
1    0.375
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
75,6.6,3.0,4.4,1.4,1
76,6.8,2.8,4.8,1.4,1
77,6.7,3.0,5.0,1.7,1
78,6.0,2.9,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 80 to 99
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

1    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
80,5.5,2.4,3.8,1.1,1
81,5.5,2.4,3.7,1.0,1
82,5.8,2.7,3.9,1.2,1
83,6.0,2.7,5.1,1.6,1
84,5.4,3.0,4.5,1.5,1
85,6.0,3.4,4.5,1.6,1
86,6.7,3.1,4.7,1.5,1
87,6.3,2.3,4.4,1.3,1
88,5.6,3.0,4.1,1.3,1
89,5.5,2.5,4.0,1.3,1
90,5.5,2.6,4.4,1.2,1
91,6.1,3.0,4.6,1.4,1
92,5.8,2.6,4.0,1.2,1
93,5.0,2.3,3.3,1.0,1
94,5.6,2.7,4.2,1.3,1
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

============================================================
ITER 5

Train Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  100 non-null    float64
 1   sepal width (cm)   100 non-null    float64
 2   petal length (cm)  100 non-null    float64
 3   petal width (cm)   100 non-null    float64
 4   class              100 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 4.7 KB

None

========== Class Proportion ==========

0    0.5
1    0.5
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

Val Set
========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 100 to 119
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  20 non-null     float64
 1   sepal width (cm)   20 non-null     float64
 2   petal length (cm)  20 non-null     float64
 3   petal width (cm)   20 non-null     float64
 4   class              20 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 960.0 bytes

None

========== Class Proportion ==========

2    1.0
Name: class, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2
104,6.5,3.0,5.8,2.2,2
105,7.6,3.0,6.6,2.1,2
106,4.9,2.5,4.5,1.7,2
107,7.3,2.9,6.3,1.8,2
108,6.7,2.5,5.8,1.8,2
109,7.2,3.6,6.1,2.5,2
110,6.5,3.2,5.1,2.0,2
111,6.4,2.7,5.3,1.9,2
112,6.8,3.0,5.5,2.1,2
113,5.7,2.5,5.0,2.0,2
114,5.8,2.8,5.1,2.4,2
115,6.4,3.2,5.3,2.3,2
116,6.5,3.0,5.5,1.8,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
119,6.0,2.2,5.0,1.5,2