# Naive Bayes Algorithm

### Basic Probability
* Probability of getting head/tail when you flip a coin is 0.5 i.e. 50%
* Similarly probability of getting queen from a deck of card is 4/52 i.e. 7.7 %

### Consitional Probability
* Unline basic probability in conditional probability we know that the event A has occured and we are trying to predict the probability of B. i.e. What is probability of getting a queen of diamond. Here card type diamond is event A.
* So the consitional probability of getting a queen of diamond is represented as P(Queen/Diamond) = 1/13 i.e. 7.7%
* More general representation is P(A/B) = Probability of 'Event A' knowing that 'Event B' has already occured
* Thomas Bayes conditional probability equation is:
  P(A/B) = ( P(B/A) * P(A) ) / P(B)

### Naive Bayes
* So using Bayes conditional probability equation we can find the probability of certain events based on probability of some knwon events.
* Its called 'Naive' because it assumes the known events(features) are independent of each other. This makes our calculations little simpler

### Where its used
* Email spam detection
* Handwritten digit recognition
* Wheather prediction
* Face detection
* News article categorization

### Problem Statement
* Use Titanic crash dataset from Kaggle and predict survival chance for passenger

### Reference
* [Naive Bayes classifier: A friendly approach](https://youtu.be/Q8l0Vip5YUw)

In [2]:
#Load the required libraries

import pandas as pd

## Lets Load the data

In [3]:
url='https://raw.githubusercontent.com/satishgunjal/Machine-Learning-Models-Using-Python/master/14_Naive_Bayes/titanic.csv'

df = pd.read_csv(url)
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

## Understanding the data
*  We are going to use 'Pclass' ,'Sex', 'Age', 'Fare' as our input/feature/X and 'Survived' as our target/label/y and delete rest of the columns

In [4]:
df = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin',	'Embarked'],axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

## Preprocessing the data
*  Convert Sex column into numeric using One Hot Encoding
*  Check for null values in dataset and update them usin g mean value

In [5]:
dummies = pd.get_dummies(df.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

**NOTE: 1 is dummy value for male and 0 is for female**

Now lets add the dummies column into our dataframe

In [6]:
df = pd.concat([df,dummies],axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived  female  male
0       3    male  22.0   7.2500         0       0     1
1       1  female  38.0  71.2833         1       1     0
2       3  female  26.0   7.9250         1       1     0
3       1  female  35.0  53.1000         1       1     0
4       3    male  35.0   8.0500         0       0     1

Now lets drop the Sex column and one of male and female column to avoid the dummy variable trap

In [7]:
df = df.drop(['Sex','male'],axis='columns')
df.head()

   Pclass   Age     Fare  Survived  female
0       3  22.0   7.2500         0       0
1       1  38.0  71.2833         1       1
2       3  26.0   7.9250         1       1
3       1  35.0  53.1000         1       1
4       3  35.0   8.0500         0       0

Lets check for null values

In [8]:
df.columns[df.isna().any()]

Index(['Age'], dtype='object')

So Age column contains the null values.
Lets replace it with mean values

In [9]:
df.Age = df.Age.fillna(df.Age.mean())
df.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

Now lets create input/features/X and target/label/y variables

In [10]:
inputs = df.drop(['Survived'],axis='columns') 
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [11]:
target = df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

## Creating a training and test dataset

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2)

print("len of X_train is %s" % (len(X_train)))
print("len of X_test is %s" % (len(X_test)))
print("len of y_train is %s" % (len(y_train)))
print("len of y_test is %s" % (len(y_test)))

len of X_train is 712
len of X_test is 179
len of y_train is 712
len of y_test is 179

## Train the model

In [13]:
# Here we are using GaussianNB

from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train,y_train)

GaussianNB()

In [14]:
model.score(X_test,y_test)

0.7597765363128491

## Prediction

* Lets predict the values for first 10 test data

In [15]:
model.predict(X_test[:10])

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1])

Now lets cross check the result with actaul test data

In [16]:
X_test[:10]

     Pclass        Age      Fare  female
701       1  35.000000   26.2875       0
272       2  41.000000   19.5000       1
878       3  29.699118    7.8958       0
156       3  16.000000    7.7333       1
525       3  40.500000    7.7500       0
367       3  29.699118    7.2292       1
724       1  27.000000   53.1000       0
659       1  58.000000  113.2750       0
421       3  21.000000    7.7333       0
262       1  52.000000   79.6500       0

In [17]:
y_test[:10]

701    1
272    1
878    0
156    1
525    0
367    1
724    1
659    0
421    0
262    0
Name: Survived, dtype: int64

## Score Calculation Using K Fold Cross Validation

In [18]:
from sklearn.model_selection import cross_val_score
import numpy as np

score = cross_val_score(GaussianNB(), X_train, y_train, cv=5)
print("Score array is %s" % (score))
print("Average score is %s" % (np.average(score)))

Score array is [0.77622378 0.79020979 0.73239437 0.73239437 0.83802817]
Average score is 0.7738500935684034